import './{{ pascal.viewName }}.scoped.css';

function {{ pascal.viewName }}(): JSX.Element {
  return (
    <div className="container-fluid">
      <div className="row">
        {/* Your code here */}
      </div>
    </div> 
  );
}

export default {{ pascal.viewName }};
